*{
	font-family:Helvetica, serif;
	font-weight:bold;
}

p{
	font-size:2em;
	padding-left:20px;
}

.c3-axis-y-label{
	fill:black;
	font-family:Helvetica, serif;
	font-weight:bold;
	font-size:1.3em;
}

.c3-axis-y{
	font-family:Helvetica, serif;
	font-weight:bold;
	
}

.c3-axis-x-label{
	fill:black;
	font-family:Helvetica, serif;
	font-weight:bold;
	font-size:1.3em;
}

.c3-axis-x{
	font-family:Helvetica, serif;
	font-weight:bold;
}

.c3-legend-item text{
	font-family:Helvetica, serif;
	font-weight:bold;
	font-size:1.3em;
}

body{
	padding-left:40px;
	padding-right:10px;
}

g.tick{
	font-family:Helvetica, serif;
	font-size:1.4em;
}