@media print {

  .story-sidebar {
    border: 1px solid #000000;
  }

  .image-overlay__body,
  .story-meta__author-email,
  .story-nav,
  .footer__body,
  .footer__list--horiz,
  #comments,
  #photoCredit,
  figure,
  img,
  figcaption,
  .prev-next,
  .story-footer__note,
  #secondary,
  .comments__respond,
  .comment-link,
  .suggested,
  .suggested__bigtitle,
  .story-footer__jump-link,
  .social,
  .image__img,
  .ad,
  .site-navigation {
    display: none !important;
  }

  .banner {
    box-shadow: none;
  }

}
