%fractional-base {
  position: relative;
  margin-bottom: 1em;

}

.fractional {
  @extend %fractional-base;

  /*@include breakpoint($screen $large-start) {*/
  @include breakpoint($screen $medium-start) {
    width: span(3 of 7);
    float: right;
    margin-left: (2 * gutter($gridpage));
  }

  @include breakpoint($screen $large-minor-start) {

    .story__body-text--full-width & {
        width: span(3 of 8);
        right: (2 * gutter($gridpage));
        margin-right: gutter($gridpage);
    }

    right: span(1 of 7 wide);
    width: span(3 of 7);
    margin-right: -#{span(1 of 7) };
    float: left;

    
  }

  &--full {
    @extend %fractional-base;
    right: 0;
    width: 90%;
    margin-right: 3em;
    margin-top: 1em;
    margin-top: 0;
    margin-bottom: 2em;
    padding-top: 1em;
    float: left;
  }
}
