// http://css-tricks.com/snippets/html/responsive-meta-tag/
@import 'fractional';
@import 'article-wrapper';
@import 'ad-container';


@-ms-viewport {
  width: device-width;
}

@viewport {
  width: device-width;
}

.page-wrap {
  position: relative;
}

//http://www.filamentgroup.com/lab/bulletproof_icon_fonts.html
.text-replace {
  clip: rect(0 0 0 0);
  overflow: hidden;
  position: absolute;
  height: 1px;
  width: 1px;

}

.container {
  @include container($gridpage);
}
