/*
 * COLORS
 */
$verydark: #333;
$white: #fff;
$red: #ef3f23;
/*$gray: #6b7574;*/
$gray: #808080;
$mediumgray: #b3b3b3;
$lightgray: #ddd;
$extralightgray: #f5f5f5;
$blue: #077cc2;
$bluegray: #2d4254; // la times
$slategray: #2f404d; // itunes
$bluey: #3484de; // itunes
$overlayblue: #105acd;
$aoa: #1C446C;
$facebook: #3b5999;
$twitter: #5fa9dd;
$gplus: #dc4a38;
$linkedin: #007bb5;
$pinterest: #cb2027;
$youtube: #e12d27;

$primarycolor: $red;
$linkcolor: $blue;

/*
 * TYPOGRAPHY
 */
$primaryfont: 'proxima-nova', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$secondaryfont: 'adelle', Georgia, serif;

$font-color: $verydark;
/*$font-color-lighter: #6b7574;*/
$font-color-lighter: $gray;
$font-color-lightest: $mediumgray;

$font-size-base: 1.125em;
$normal: 400;
$bold: 600;
$bodylineheight: 1.4;
$bodylineheight-bigger: 1.65;

$border-radius: 4px;

/*
 * Layout
 */
$site-width: 62em;
$outside-gutter-small: .5em;
$outside-gutter-medium: 1.25em;
$outside-gutter-large: 2em;

$out-gutter-pct: 3%;

/*$article-max-width: 45.5em;*/
$article-max-width: 728px;

$story-width: 94%;
$story-width-medium: 90%;

$article-feature-image-max-width: 48em;

/*
 * Breakpoint
 */
$all: 'all';
$screen: 'screen';
// $small-start not needed--for quick sizing in chrome dev
$small-start              : 20em;        //  320px
$small-minor-start        : 25.625em;    //  410px
$medium-start             : 30em;        //  480px
$medium-minor-start       : 36em;        //  576px
$medium-minor-minor-start : 43em;        //  688px
$large-start-minus-1      : 47.9375em;   //  767px
$large-start              : 48em;        //  768px
$leaderboard-start        : 50.5625em;   //  809px
$large-minor-start        : 56em;        //  896px
$max-site-start           : $site-width; //  992px
$xlarge-start-minus-1     : 63.9375em;   //  1023px
$xlarge-start             : 64em;        //  1024px
$xxlarge-start            : 90em;        //  1440px

/*
 * Breakpoint syncs
 */
$big-menu-start: $leaderboard-start;
$overlay-start: $large-start;


/*
 * Special
 */
%clip-path-circle {
  clip-path: ellipse(50% 50% at 50% 50%);
}

/**
 * For hover.css
 */

// Durations
$fastDuration: .1s;
$mediumDuration: .2s;
$slowDuration: .5s;

// Browser Prefixes - Which CSS prefixes should be used?
$webkit: true;
$moz: false;
$ms: false;
$o: false;


$susy: (
  global-box-sizing: border-box,
  columns: 12,
  /*container: 60em,*/
  container: $site-width,
  debug: (
    /*image: show-columns,*/
    image: hide,
    color: rgba(#66f, .25),
    output: background,
    /*toggle: top right,*/
  ),
);

$gridpage: (
  global-box-sizing: border-box,
  columns: 12,
  /*container: 60em,*/
  container: $site-width,
  gutters: .25,
  debug: (
    image: show-columns,
    /*image: hide,*/
    color: rgba(#66f, .25),
    output: overlay,
    toggle: top right,
  ),
);

$gridrow4: (
  global-box-sizing: border-box,
  columns: 4,
  /*container: $site-width,*/
  container: 94%,
  gutters: .25,
  debug: (
    image: show-columns,
    /*image: hide,*/
    color: rgba(steelblue, .25),
    output: overlay,
    toggle: top left,
  ),
);

$adleader: (
  container-position: center,
);

$secondary: (
  global-box-sizing: border-box,
  columns: 2,
  container: $article-max-width,
  gutters: .25,
);
