html {
  font-size: 100%;
  line-height: 1;
  text-size-adjust: 100%;
}

body {
  font-family: $primaryfont;
  background-color: $white;
  @include breakpoint($screen $big-menu-start) {
    border-top: 8px solid $primarycolor;
  }
}

a {
  text-decoration: none;
  color: $linkcolor;

  &:hover {
    text-decoration: underline;
  }
}

article {
  overflow: hidden;
}

%p-base {
  margin-top: 0;
  margin-bottom: 1em;
  font-size: 1rem;
  line-height: $bodylineheight;
  color: $verydark;

  @include breakpoint($screen $large-start) {
    line-height: $bodylineheight-bigger;
    font-size: $font-size-base;
  }

}

p {
    @extend %p-base;
}

h1 {
  font-family: $primaryfont;
  font-weight: 800;
  color: $verydark;
}

ul, ol {
  /*list-style: none;*/
  list-style-position: inside;
  margin-top: 0;
  padding-left: 0;
  
}

img {
  /*max-width: 100%;*/
  height: auto;
}
 
textarea {
  line-height: 1.4;

  &:focus {
    border: 1px solid $primarycolor;
    outline: 0;
    @include transition-property(border);
    @include transition-duration(.2s);
  }
}

input {
  vertical-align: middle;
}

input, textarea {
  padding: .5em;
  margin-bottom: 1em;
  /*width: 100%;*/
  font-size: 1em;
  /*display: inline-block;*/
  border-left-style: solid;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-width: 1px;
  border-color: $gray;
  color: $font-color;

  &[type='text']:focus {
    @extend textarea:focus;
  }

  &[type='email']:focus {
    @extend textarea:focus;
  }

} // input

figure {
  margin: 0;
}

strong {
  font-weight: 600;
  color: $primarycolor;
}

hr {
  margin-bottom: 1.6875em;
  margin-top: 3em;
  border: 0;
  height: 0;
  border-top: 1px solid $lightgray;
}

// More practical CSS...
// using mobile first method (IE8,7 requires respond.js polyfill https://github.com/scottjehl/Respond)

$breakpoint-alpha: 480px; // adjust to your needs

.rwd-table {
  margin: 1em 0;
  min-width: 300px; // adjust to your needs
  
  tr {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
  }
  
  th {
    display: none; // for accessibility, use a visually hidden method here instead! Thanks, reddit!   
  }
  
  td {
    display: block; 
    
    &:first-child {
      padding-top: .5em;
    }
    &:last-child {
      padding-bottom: .5em;
    }

    &:before {
      content: attr(data-th)": "; // who knew you could do this? The internet, that's who.
      font-weight: bold;

      // optional stuff to make it look nicer
      width: 6.5em; // magic number :( adjust according to your own content
      display: inline-block;
      // end options
      
      @media (min-width: $breakpoint-alpha) {
        display: none;
      }
    }
  }
  
  th, td {
    text-align: left;
    
    @media (min-width: $breakpoint-alpha) {
      display: table-cell;
      padding: .25em .5em;
      
      &:first-child {
        padding-left: 0;
      }
      
      &:last-child {
        padding-right: 0;
      }
    }

  }
  
  
}


.rwd-table {
  background: $white;
  color: $font-color;
  /*border-radius: .4em;*/
  overflow: hidden;

  tr {
    border-color: $lightgray;
  }
  th, td {
    font-weight: $normal;
    margin: .5em 1em;
    @include breakpoint($screen $medium-start) {
      padding: 1em; 
    }
  }
  th, td:before {
    font-weight: $normal;
    color: $font-color-lighter;
  }
}

blockquote {
  position: relative;
  margin: 0 2rem 0 2rem;

  @include breakpoint($screen $large-start) {
    margin-left: 4rem;
    margin-right: 4rem;
  }

  & p {

    color: $font-color-lighter;
  }

  &:before {
    content: "";
    border-left: 6px solid #ddd;
    position: absolute;
    top: 5px;
    bottom: 6px;
    left: -2rem;
  }
}
