%caption-base {
  margin-top: .5em;
  color: $font-color-lighter;
  max-width: $article-max-width;
}

.caption {

  @extend %caption-base;
  font-size: 1em;
  line-height: 1.3;



  &--right {
    text-align: right;
  }

  &--left {
    text-align: left;
  }
  
  &--feature {
    margin-left: ((100 - $story-width) / 2);
    margin-right: ((100 - $story-width) / 2);
    font-size: 1em;
    display: none;


    @include breakpoint($screen $medium-start) {
      margin-left: ((100 - $story-width-medium) / 2);
      margin-right: ((100 - $story-width-medium) / 2);
    }

    @include breakpoint($screen $large-start) {
      margin-left: auto;
      margin-right: auto;
      font-size: 1.125em;
    }

    @include breakpoint($screen $xlarge-start) {
      display: block;
    }
  }

}
