.comment-link {
  position: absolute;
  display: inline-block;
  top: .5em;
  right: 0;
  text-align: right;
  color: $gray;

  &__link {
    font-size: 2.5em;
    
    transition-property: color;
    transition-duration: $mediumduration;
    @include red-hover;

  }

  &__body {
    /*position: absolute;*/
    position: relative;
    float: right;
    /*top: .18181818em;*/
    top: -1.65em;
    /*left: .3em;*/
    left: .375em;

    width: 100%;
    text-align: center;
    font-size: .6em;
    letter-spacing: .09090909091em;
    color: $white;
  }

  &__num {
    
    &:after {
      content: attr(data-comments-num);
      position: absolute;
      width: 100%;
      top: .06666666667em;
      left: 0;
      text-align: center;
      font-size: .75em;
      font-family: $primaryfont;
      color: $white;
    }

  }
}
