%comment-form-input-base {
  float: right;
  width: 100% !important;

  @include breakpoint($screen $medium-minor-start) {
    max-width: 75%;      
  }
}

%comment-form-p-base {
  margin-top: 1em;

  @include breakpoint($screen $medium-minor-start) {
    clear: both;      
  }

}

%comment-form-label-base {
  float: left;
  font-size: .875em;
  color: $font-color-lighter;

  @include breakpoint($screen $medium-minor-start) {
     padding-top: .5em;
     padding-bottom: .5em;
  }

  @include breakpoint($screen $large-start) {
    font-size: 1em;
  }
}

%comment-form-textarea-base {
  width: 100%;
  @include breakpoint($screen $medium-minor-start) {
    max-width: 75%;      
    float: right;
  }
}

%comment-form-button-base {
  padding: .5em;
  width: 10em;
  float: right;
  background: $primarycolor;
  color: $white;
  border: none;
}

.comment-form {
  @include clearfix;
  clear: both;

  &__notes {
    font-size: .75em;
  }

  label {
    @extend %comment-form-label-base;
  }

  input[type=text] {
    @extend %comment-form-input-base;
  }

  textarea {
    @extend %comment-form-textarea-base;
  }

  > p {
    @extend %comment-form-p-base;
  }

  &__submit {
    @extend %comment-form-button-base;
  }

}

.form-submit {

  .submit {
    @extend .comment-form__submit;
  }

}
