.comments__wrapper {
  @include clearfix;
  margin-bottom: 2em;
  @extend %center;

  @include breakpoint($screen $large-start) {
    max-width: $article-max-width;
    
  }

}

%comments-base {
  margin-top: 3em;
  color: #333;
}

%nav-base {
  display: inline-block;
}

.comments {
  @extend %comments-base;
  @extend %article-base;

  @include breakpoint($screen $large-minor-start) {
    @include span(last 7 of 8);
  }

  &--full-width {
    @extend %article-base;
    /*width: 100%;*/
  }


  &__list {
    margin-top: .5em;
    padding-left: 0;
    list-style: none;
  }

  &__title {
    margin-bottom: 0;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 1em;
    text-align: right;
    /*letter-spacing: -.03em;*/
    color: $font-color-lighter;
  }
 
  &__count {
    font-weight: 800;
    font-size: 2em;
    color: $primarycolor;
  }

  &__respond {
    margin-top: 3em;
    padding: 1em;
    background: $extralightgray;
  }

  & .nav-previous {
    @extend %nav-base;
  }

  & .nav-next {
    @extend %nav-base;
    float: right;
  }
}

.comment-reply-title {
  font-weight: 400;
  color: $primarycolor;
  margin-top: 0;

  & > span {
    display: block;
    margin-top: .33em;
    font-size: 70%;
    vertical-align: baseline;
    line-height: 1.6;

    @include breakpoint($screen $medium-start) {
      display: inline;
      margin-top: 0;
      float: right;
    }
  }
}
