.elit-archive {

  width: 94%;
  /*max-width: $article-max-width;*/
  @extend %center;
  
  @include breakpoint($screen $medium-start) {
    /*@include container(90%);*/
    /*width: $story-width-medium;*/
  }

  @include breakpoint($screen $large-start) {
  }
  
  @include breakpoint($screen $big-menu-start) {
    margin-left: 1em;
    margin-right: 1em;
  }

}
