%footer-btn-base {
  display: inline-block;
  padding-top: .5em;
  padding-bottom: .5em;
  padding-left: 1em;
  padding-right: 1em;
  /*font-size: 1.142857143em;*/
  font-size: 16px;
  border: 1px solid rgba(255,255,255,.8);
  background: #ef3f23;
  outline: 0;
  color: rgba($white, .8);
  transition-property: background, color;
  transition-duration: 150ms;
}

%footer-text-base {
  font-size: .875em;
  line-height: 1.4;
  color: rgba($white, .8);
  letter-spacing: .25px;
}

%footer-header-base {
  position: relative;
  margin-bottom: 1em;
  padding-bottom: .25em;
  text-align: center;
  font-weight: 200;  
  font-size: 1.25em;
  /*border-bottom: 1px solid rgba($white, .8);*/
  color: $white;
}

.footer {
  @include clearfix;
  clear: both;
  margin-left: auto;
  margin-right: auto;
  padding-top: .5em;
  line-height: 1.4;

  &__header {
    @extend %footer-header-base;
    margin-top: 0;
    line-height: 1.3;

    @include breakpoint($screen $large-start) {
      text-align: left;
      color: rgba($white, .8);
    }
    
    span {
      display: block;
      @include breakpoint($screen $large-start) {
        display: inline;
      }
    }

    &--minor {
      @extend %footer-header-base;

      &:after {
        content: "";
        position: absolute;
        bottom: -.4em;
        left: 0;
        right: 0;
        width: 30%;
        margin-left: auto;
        margin-right: auto;
        border-bottom: 3px solid white;
      }

      @include breakpoint($screen $large-start) {
        text-align: left;
        color: rgba($white, .8);
        
      }
    }
  }

  &__body {
    padding-top: 1em;
    padding-bottom: 1em;
    margin-bottom: 1em;
    background: $primarycolor;
    color: rgba($white,.8);
    
    @include breakpoint($screen $large-start) {
      padding-top: 2em;
      padding-bottom: 2em;
    }
  }

  &__wrapper {
    @include container(3);
  }

  &__col {
    @include breakpoint($screen $medium-start) {
      @include span(1 of 3);
    }
    
    &--last {
      @include breakpoint($screen $medium-start) {
        @include span(1 last of 3);
      }
    }
  }

  &__title {
    margin-bottom: 0;
    text-align: center;
    line-height: 1.2;
    font-size: .875em;
    color: rgba($white,.8);

    @include breakpoint($screen $medium-start) {
      text-align: left;
    }
  }

  a {
    color: inherit;

  }

  &__list {
    @extend %footer-text-base;
    @include no-bullets;
    text-align: center;

    @include breakpoint($screen $medium-start) {
      text-align: left;
    }
  
    &--horiz {
      @extend %footer-text-base;
      list-style: none;
      margin: 0;
      padding: 0;
      text-align: center;

      @include breakpoint($screen $xlarge-start) {
        float: right;
        text-align: right;
      }

      a {
        display: inline-block;
        padding-right: .5em;
        padding-left: .5em;
        transition-property: color;
        transition-duration: $mediumduration;
        @include red-hover;
        
        /*@include breakpoint($screen $xlarge-start) {*/
          /*padding: 0;*/
        /*}*/
      }
    }
  } 

  &__list-item {
    @include breakpoint($screen $medium-start) {
      margin-bottom: .5em;
    }

    &--horiz {
      /*@include horizontal-list-item;*/
      /*@extend %footer-text-base;*/
      display: inline;

    }

  } //__list-item
  
  &__body-text {
    @extend %footer-text-base;
    text-align: center;
    
    @include breakpoint($screen $xlarge-start) {
      text-align: left;
      float: left;
    }

  }

  &__btn {
    @extend %footer-btn-base;
    
    &--link {
      @extend %footer-btn-base;
    }

    &:hover, &--link:hover {
      background: rgba($white, .95);
      text-decoration: none;
      color: $red;
    }

  }
}
