@font-face {
  font-family: 'eo-icons';
  src: url(data:application/x-font-woff;charset=utf-8;base64,d09GRgABAAAAABoEAAsAAAAAGbgAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABPUy8yAAABCAAAAGAAAABgDpIDOWNtYXAAAAFoAAAATAAAAEwaVcxmZ2FzcAAAAbQAAAAIAAAACAAAABBnbHlmAAABvAAAFegAABXoa90IAmhlYWQAABekAAAANgAAADYI+5biaGhlYQAAF9wAAAAkAAAAJAwxCERobXR4AAAYAAAAAFAAAABQSysAPmxvY2EAABhQAAAAKgAAACo9EDl6bWF4cAAAGHwAAAAgAAAAIAAdAz1uYW1lAAAYnAAAAUUAAAFFVxmm7nBvc3QAABnkAAAAIAAAACAAAwAAAAMEAAGQAAUAAAKZAswAAACPApkCzAAAAesAMwEJAAAAAAAAAAAAAAAAAAAAARAAAAAAAAAAAAAAAAAAAAAAQAAA5g8DwP/A/8ADwABAAAAAAQAAAAAAAAAAAAAAIAAAAAAAAgAAAAMAAAAUAAMAAQAAABQABAA4AAAACgAIAAIAAgABACDmD//9//8AAAAAACDmAP/9//8AAf/jGgQAAwABAAAAAAAAAAAAAAABAAH//wAPAAEAAAAAAAAAAAACAAA3OQEAAAAAAQAAAAAAAAAAAAIAADc5AQAAAAABAAAAAAAAAAAAAgAANzkBAAAAAAj//v/CCHADwAAeAD0BQwGHAewCYQMUAzoAAAEqAScuASc+ATc+ATceARceARcwFhceARcOAQcGIiMhIiYnLgEnPgE3PgExPgE3PgE3HgEXHgEXDgEHBiIjASImJy4BJy4BJy4BJwEjMAYHDgEHLgEnLgErASIGBw4BBy4BJy4BMSMBDgEHDgEHDgEHDgErARUhNSMiJicuASc+ATc+ATcwNjc+ATchHgEXHgEXHgEXHgEXHgEXHgEXHgEXHgEXHgEXHgEXHgEXHgEXHgEXMhY7ATAWFxYyNycjLgEnLgEnLgEnLgEnLgEnLgE1NDY3PgE3PgE3PgE3Mx4BFx4BFx4BFx4BFRQGBw4BBw4BBw4BBw4BBw4BBzAWFx4BFzYyMToBNz4BNz4BNz4BNz4BNz4BNz4BNz4BNz4BNz4BNz4BNz4BNz4BNyEeARceATEeARceARcOAQcOASsBFSE1IwU+ATc+ATU0JjUuATUuAScuAS8BLgEnLgEnLgE9ATQ2Nz4BNzAmIyIGBw4BBw4BBw4BFx4BFx4BHwIeARceATEwFjc3LgEnLgEvAS4BJy4BJy4BJy4BJzU0Njc+ATc0JjEmBgcOAQcOAQcGFBceARceARczHgEXHgEVMhYxFzMwMhc0Njc+ATUyFjMeARceAR0BDgEHDgEdATI2Nz4BNz4BNz4BNTwBJzcuAScuAScuASciJiMuAScuAScuAScuAT0BNDY3PgE3NCIxJgYHDgEHDgEHDgEVFBYXFBYVHgEXHgEXHgEXHgExHgEzFzMXMBYzNDY3PgE3MhYzHgEXHgEdARQGBw4BBxQyMTI2Nz4BNz4BNz4BNS4BJzQmJxMuAScuAScuAScuAScuAScuAScjLgEnLgEHDgEHDgEdARQWFx4BFx4BFx4BFR4BFx4BHwIeATMeARc0Njc0NjcyFjMeARceARcVFAYHDgEHFDIxFjY3PgE3PgE3PgEnLgEnLgEnLgEnLgEnLgEnLgEnLgEnLgE1NDY3PgE3MjYxFBYXHgEVHgEXHgEfATMeARceARc0NjU0NjE8AS8BMxceARceARceARceARcWNjcwNjUnOgEXMhYXNzQmJy4BJyYGBw4BBw4BFQ4BFTAWFRQWFT4BMzYyMQa1ESUTFCkVAjEdHTADEScTEyMNAwICBQEUKRQUKBP7BhMoFRQqFAEFAgIDDSMTEycRAzEdHTEBEygTFCUSBrEDGg8PHAYKEwkJEQf+5z0hFRQlAxxbOjqMTQpNizs6Wh0DJRQVIT3+5wgRCQoSCQYcDw8aAwQBNwQCIRUVKQoEEgoLFwoBAQECAQFrBAkFBAoFBAkGBQoFBxAJCBIJDBoNDhwPBAkEBQoFCBAJCBEIBQgFBQkFBwkKCRsSIAcrTyIjOBUDBgICBAIHCwMEAw0MDSYZFzYeHkIjDSJBHh43GBgmDQ0NAwQDCwcCBQMCBQIVNyIiTCoMCAkRBgUDAQIECREICRAIBQoEBQkEDh0NDhoMCREJCRAHBgoFBQkEBQsFBAgDAWsBAgEBAgoWCwoSBQopFRUhAgQBMAT8BgEDAQEBAQECAwgGBQ8JDQMGBAUJAwMDAQECAwECAgIFBAQKBQQJAwMBBQMKCAcTCw8RDA0EBAIEBBgCCwcIFAwUBAcDAwYDBQkDBAQBAwECBAECAggFBAsEBgkDAgQEDAoJFw4CAQMBAQMBAwQEBAMBAQEDAgECBQkDAwQBBAICBAEHBAQHAwYKAwMDAg0DCwgJFQ0DBgQDBgQFCwUECQQHCgMDAwIBAgQBAgIIBQQKBQMIAwQEAQECBA0JChkPAQMBAgIDBgQIAgcIAwEBAQIBAgECBQkDAwMCAwIEAgMBBwUECgUCCAQEBgECAQIBYQIGAwQIBQQIBAQIBAUNBwgQCQMKHRARIhEUHwsLCxEODiISAQMBAgICBQIDBAELBgMGAwQGAgEBAgEBAwIHCQMDAwEDAwIEAQIDBwUFCgUECQMEAQQDDAgIFQ0ECQUECwYHDQYGCgUHDAQDBAMDAwkFAgMBAQEBAgYDAwYEDwQECgUECgQBAQICAgkCAwIBAwIBBAMLGxAPJBICyAgMBQYLBwIKBwcRBggOBgUJBAEDAQEBAQcQBwcJAUkBAQIDBXNERHQGI1swL1ohCAUFDAQDAgEBAQEBAwMDDAUGCCJZMC9bIwZ0RERzBQMEAQH+0AYEAwcBECQTFCcTAslQMjJYCEFoJSQmJyQlaEAIWDIyUP03EycUEyQQAQYEAwcYGAQEAwYCGDkdHjoZAgMCBQMJEgkIEQgHDQYHDQYJEQcIDwcJEQcIDgUCAwICAwEDBQICBAIBAQEBAQEBATEEHBgYQCgGCwYGDAcTKhYXLhktUyYlQxwaJw4ODgEBDw4OJxkcQiUmVC0ZLhYWKhQGDAYGDAYnPxgXHgUDBQUSDgEBAgMCAgUEAQMCAgMCBQ4IBxEJBw8IBxEJBQwHBg4ICBEICRIJAgUDAgMZOh4eORcCBgMEBBgYVwIFBAQKBQQGAwMGAgcNBgUJAwUBAgMDCQQFDAYJBQ8JCBAFAgEDAwsKBhIMCxoNCA8GBgoDBAkFDgYGCAcF+wcOBQYKAwQBAgEBAgIDBwQFCgYECBMJCQ4EAQEBBAQECwYIFQsLFwsIEAYGCQILKRQUHgECAwIDHxQTJwkCAwcEBAgEBAcTCgoQAwIHBQULBAkRCAgQBwEJA9MJDQYGCQMBAQEBAQICAQMCAgcEBAgFBQYSCQkQBAIBBAMECwcFDQgIEQkDBQMDBQMJDwcGCwQKJxMTHQIDAgICAh4TEyUKAwIHBAQJBgQIFAkJDwQCAwMECggEDgkJFAsEBgMDBQIBMwgOBwcOBgYKBAMGAgIEAgEDAQkPBAQBAwQTDg4kFQIcJQwMDgULKBQUHwEBAgEBAQECAgEBAQEBAx8UEycJAgIHAwQJBQQJFAkKDgMCAQQDBAsHBhILChcMCA4HBgoEAgMBAQEBAQMCAgUCBAsGBg0IBw0FBgkDAgMRCAkOAQEEAQEDAQQBAQEBAwIDEQoJDwIEAwIIAwUCAwQDAwYCCgsBAgIDAwGcAQICRgkMBAMDAQEBAgEGBAIFAwMHBBIMCxUDAgIBAAAAAAIAAP/ABAADwAAYAB4AAAEUBgcOASMiJicuATU0Njc+ATMyFhceARUlFzcXCQEEAFBGRbtqartFRlBQRkW7amq7RUZQ/Qn394T+hf6FAcBqu0VGUFBGRbtqartFRlBQRkW7as3394X+hQF7AAIAAP/ABAADwAAYAB4AAAEUBgcOASMiJicuATU0Njc+ATMyFhceARUlBxcHCQEEAFBGRbtqartFRlBQRkW7amq7RUZQ/s3394X+hQF7AcBqu0VGUFBGRbtqartFRlBQRkW7avf394QBewF7AAIAAP/ABAADwAAYAB4AAAEUBgcOASMiJicuATU0Njc+ATMyFhceARUFNyc3CQEEAFBGRbtqartFRlBQRkW7amq7RUZQ/TP394UBe/6FAcBqu0VGUFBGRbtqartFRlBQRkW7avf394T+hf6FAAIAAP/ABAADwAAYAB4AAAEUBgcOASMiJicuATU0Njc+ATMyFhceARUFJwcnCQEEAFBGRbtqartFRlBQRkW7amq7RUZQ/vf394QBewF7AcBqu0VGUFBGRbtqartFRlBQRkW7as3394UBe/6FAAEAAP/DBK8DxAAjAAATIgYHDgEVERQWFx4BMyEyFhceAR8BHgE3MjY1ETQmJy4BIyEOAwUCAgICAgIFAwPEAwcDBAYBugMDAgECAgICBQP7bQPEAwICBQP85AMFAgICAgIBBAK6AgIBBAMD6wMFAgIDAAAAAgAA/8AFVQPAAAQACQAACQE1IRUJAREhEQKtAqj6qwKv/VEFVQHXAUKnp/4CAUL9YwKcAAEAAP/ABAADwAA7AAABISIGBw4BFREUFhceATMhESM1MzU0Njc+ATMyFhceARcVIyIGBw4BHQEzByMRITI2Nz4BNRE0JicuASMDyPxwCxUHCAkJCAcVCwHrhYUdGhpJLBYmEBAWBVIYHggJBZgShQEFCxUHCAkJCAcVCwPACQgHFQv8cAsVBwgJAYybcjFMGhoaAQEBAgGKCwoKGxFim/50CQgHFQsDkAsVBwgJAAAAAgAA/78EAgPAAD8AWAAAJQE+ATc+ATU0JicuAScuAScuASMiBgcOAQcOAQcOARUUFhceARceARceATMyNjc+ATcBHgEzPgE/AT4BNzYmJyUiJicuATU0Njc+ATMyFhceARUUBgcOASMD+/7AEBcICAgODw4qGhs/IiJKJidJIiI+GxsqDg4PDw4OKhsbPiIiSicdOBsbMxcBQQQMBgYLBTcFBQEBBAT9gjplJiUsLCUmZTo5ZSYmLCwmJWY5LgFBFzMbGjgcJkoiIz4bGyoODg8PDg4qGxs+IiJKJiZJIyI/GxoqDg8OCAgJGBD+vwQDAQYFNwUMBgYLBP8sJiZlOTplJiUsLCUmZTo5ZSYmLAAFAAD/wQQXA8AAHAB7AKAAxQDRAAABISIGBw4BFREUFhceATMhMjY3PgE1ETQmJy4BIwEnLgEnLgE1NDY3PgE3PgE3PgE1NCYnLgEnMzcjIgYHDgEHDgEHDgEVFBYXHgEzMjYzMjYzDgEHDgEVFBYXHgEXDgEHDgEHDgEHDgEVFBYXHgEzMjY3PgE1NCYnLgEnJyImJy4BNTQ2Nz4BNz4BNz4BMzIWFx4BFRQGBw4BBw4BBw4BIxMiJicuATU0Njc+ATc+ATc+ATM6ATMyFjMeARceARUWBgcOASMBNSMVIxUzFTM1MzUD9/wpBgwEBQUFBQQMBgPXBgwEBQUFBQQMBv4vIgQIBAMFBQMECgQPGwsLDQ8KChYIODy0EywXFy0TDxYHBwcUExQ4JAQHBAMIBAIDAgECBQQECgQPKhgYMBUUGwgJBxkYGEoyPFoeHh8NCgsbD3kdKw4ODgICAggGBg4JCBIJHSsODw4BAwIJCAUOCAgSCQElOxUVFxMNDRoIDiANDhQDAwYCAwQDGiYMDAsBERERMyEBXy1cXC1cA8AFBQQMBvxCBwwEBQUFBQQMBwO+BgwEBQX9zhkDBwUFDAgHDQUGCQULGQ8PJxoaKA8PFQYmBQYHFRAMHhAQIRAbNBQVGQEBBAgEBAkGCxEIBw4GAQQEBBANDBwPDx0NGTASEhYeGRg+IRgkDw8ZDWkiGRk5FwkSCAkQCAcLBAQEIhkaOxgHEAkJEggGCQQDBf6QEQ8PKRgYIgsLCwMFBgECAQETHQ4NHRIVJA0NDwFzW1suXV0uAAACAAD/wAQBA8AARAB7AAABIgYHDgEVERQGBw4BIyEiJicuATURNDY3PgEzITI2Nz4BNTQmJy4BIyEiBgcOARURFBYXHgEzITI2Nz4BNRE0JicuASMTISIGBw4BFRQWFx4BOwEBDgEVFBYXHgEXHgEzMjY3PgE3ARUUFhceATMyNjc+ATURNCYnLgEjAzwNGAkJCgQEBAoG/b8GCgQEBAQEBAoGARQOFwkJCwoJCRgO/uwhORYVGRkVFjkhAkIhORYVGQoJCRgOJv7zDRgJCQsLCAkYDs3+UAoKCgoECwYGDQYGDAYGCwUBsAoJCRgNDhgJCQoaFRY5IQGzCgkJGA7+7AYKBAQEBAQECgYCQwYKBAQECgkJGA0OGAkJChoVFjkh/b4hORYVGRkVFjkhARQOFwkJCgINCgkJGA4NGAkJCv5RChgMDRgJBQcDAgMDAgIIBQGwzQ0YCQkLCwgJGA4BDSE5FhUZAAAEAAD/wAQAA8AAHAA1ADoAXAAAASEiBgcOARURFBYXHgEzITI2Nz4BNRE0JicuASMFMhYXHgEVFAYHDgEjIiYnLgE1NDY3PgEzBzMRIxE7ARUzPgE3PgEzMhYXHgEVESM1NCYnLgEjIgYHDgEdASMRA7T8mBAcCgoMDAoKHBADaBAcCgoMDAoKHBD9LxIgDAwODgwMIBISIAwMDg4MDCASS5eX95ICBxoTEi4bOkcUFA2XAwcIIB0eIwoKBpgDwAwKCRsQ/JQQGwkKDAwKCRsQA2wQGwkKDI0ODAwgEhIgDAwODgwMIBISIAwMDvP+GAHoQw8cCwwNIyAfVTH+9O0VLhMTGRUSES4Y8QHoAAAAAAEAAP/ABAEDwACcAAABIgYHDgEVFBYXHgEXPAE3PgE3PgE3PgExMCYnLgE1NDY3PgEzMhYXHgEVFAYHDgEHBhYXHgEzMjY3PgE1NCYnLgEjIgYHDgEVFBYXHgEXHgEXHAEHDgEHDgEHDgEHBiInLgEnLgE1NDY3PgEzMhYXHgEVFAYHDgEjIiYnLgEnMAYHDgEHDgEHDgEHHgEXHgEzMjY3PgE1NCYnLgEjAgBqukZFUS0pKHFDAQEEAwQWCwsSBQMDBQ8NDiMVERoICQgJBwcQBgUJDAsiFCU8FRYXHBsbTzQ6XiAhIwUEBQwIAwUBAgECAgEDAQEFBAMIBRsnDQ0MLi4tiVtKeCorLigkJWY9FScRERkGCgYGDAIEDAcGDwcRIxITJRNqu0VGUFFGRbtqA8BRRUa6ak+QPT1eHg0eDw8eDxBaMTBLDAsKHhIdMBIRFAwKCxwQESsYFzIYFCQNDg8sJSVjNytIGhoeKCIiWDERHA0MFQkEBwMDBwUDCwYGCwQFBgICAgsnGhk9ITdxLy47MSkoajlLgS8vNQoJCRcMJRgZLQkPHQ4OGgsFCAMDA1FFRrpqarpGRVEAAAABAAD/wATsA8AAeQAABSImJy4BJx4BFzIWMzI2Nz4BNy4BJy4BJx4BFzIWMzI2Nz4BNy4BJy4BPQEeARceARcuAScuATU0Njc+ATceARceARcuASc0JjUmNjc+ATMyFhceARc+ATc+ATcOAQcOAQc+ATc+ATcOAQcOAQccARccARUUAgcGBCMBizZqMjFdKwgPBwgQCC1XKShLIStNHyAvDAYMBgYNBgkSCAkQCCxMHBwgDhsPDx4RGisPDxAFBAUNCDB2Q0SXUQEDAQEBKCMjXjYbNRgYKxIWKxQVJxIHFg8OIxQUJhMSJBIOHRAQIxMBYV1d/u2zQBAPDiscAQEBAQ8PDikaARsYGEEmAQIBAQEBAQQCCS8iIVUvBAcMBAQFARIuHBw+IhIiEBEeDjpgIyMpBAcPBwcPCDVdIyMpCwsLHhMEDQgHFAsXKRISHwwCBwUGDAgUJBEQHw4ECAUECAV//vppaoYAAAAAAwAA/8AFsQPAAAMABwALAAABLQERLQEFBwEhESECQgGK/nYBWf6nAYox/GUFsfpPAQPMzv5msujOGgIL/AAAAAMAQABAA8ADAAADAAcACwAAEyEVIRUhFSEVIRUhQAOA/IADgPyAA4D8gAMAwEDAQMAAAAABAAAAAAAAK2i92l8PPPUACwQAAAAAANC3qTEAAAAA0LepMf/+/78IcAPEAAAACAACAAAAAAAAAAEAAAPA/8AAAAhw//7//whwAAEAAAAAAAAAAAAAAAAAAAAUAAAAAAAAAAAAAAAAAgAAAAhw//4EAAAABAAAAAQAAAAEAAAABK8AAAVVAAAEAAAABAIAAAQXAAAEAAAABAAAAAQAAAAE7AAABbEAAAQAAEAAAAAAAAoAFAAeBLAE5gUcBVIFiAXCBdwGNAa8B+gInAkkCgQKugraCvQAAAABAAAAFAM7AAgAAAAAAAIAAAAAAAAAAAAAAAAAAAAAAAAADgCuAAEAAAAAAAEADgAAAAEAAAAAAAIADgBHAAEAAAAAAAMADgAkAAEAAAAAAAQADgBVAAEAAAAAAAUAFgAOAAEAAAAAAAYABwAyAAEAAAAAAAoANABjAAMAAQQJAAEADgAAAAMAAQQJAAIADgBHAAMAAQQJAAMADgAkAAMAAQQJAAQADgBVAAMAAQQJAAUAFgAOAAMAAQQJAAYADgA5AAMAAQQJAAoANABjAGkAYwBvAG0AbwBvAG4AVgBlAHIAcwBpAG8AbgAgADEALgAwAGkAYwBvAG0AbwBvAG5pY29tb29uAGkAYwBvAG0AbwBvAG4AUgBlAGcAdQBsAGEAcgBpAGMAbwBtAG8AbwBuAEYAbwBuAHQAIABnAGUAbgBlAHIAYQB0AGUAZAAgAGIAeQAgAEkAYwBvAE0AbwBvAG4ALgAAAAADAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA) format('woff'),
       url('fonts/eo-icons.ttf') format('truetype'),
       url('fonts/eo-icons.svg#icon-font') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  position: relative;
  top: 1px;
  font-family: eo-icons;
  /*content: attr(data-icon);*/
  speak: none;
  font-weight: normal;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &:hover {
    /*color: fuchsia;*/
  }
}

.icon-menu:before {
	content: "\e60f";
  /*color: $gray;*/
  color: inherit;
}
.icon-aoa-solid:before {
	content: "\e600";
  /*color: $mediumgray;*/
  color: inherit;
}
.icon-arrow-down:before {
	content: "\e601";
  /*color: $verydark;*/
  color: inherit;
}
.icon-arrow-left:before {
	content: "\e602";
  /*color: $verydark;*/
  color: inherit;
}
.icon-arrow-right:before {
	content: "\e603";
  color: inherit;
}
.icon-arrow-up:before {
	content: "\e604";
  /*color: $verydark;*/
  color: inherit;
}
.icon-comment:before {
	content: "\e605";
  /*color: $gray;*/
  color: inherit;
}
.icon-email:before {
	content: "\e606";
  /*color: $mediumgray;*/
  color: inherit;
}
.icon-facebook:before {
	content: "\e607";
  /*color: $facebook;*/
  color: inherit;
}
.icon-glass:before {
	content: "\e608";
  /*color: $verydark;*/
  color: inherit;
}
.icon-gplus:before {
	content: "\e609";
  /*color: $gplus;*/
  color: inherit;
}
.icon-link:before {
	content: "\e60a";
  /*color: $verydark;*/
  color: inherit;
}
.icon-linkedin:before {
	content: "\e60b";
  /*color: $linkedin;*/
  color: inherit;
}
.icon-pinterest:before {
	content: "\e60c";
  /*color: $pinterest;*/
  color: inherit;
}
.icon-twitter:before {
	content: "\e60d";
  /*color: $twitter;*/
  color: inherit;
}
.icon-youtube:before {
	content: "\e60e";
  /*color: $youtube;*/
  color: inherit;
}
