%image-base {
  margin-bottom: 1em;
}

.image {

  &__img {
    max-width: 100%;
    height: auto;
  }

  &--super {
    margin: 0 auto;
    display: block;
  }

  &--primary {
    max-width: $article-feature-image-max-width;
    /*margin: 0 auto;*/
    margin-left: auto;
    margin-right: auto;
    display: block;

    @include breakpoint($screen $large-start) {
      max-width: $article-max-width;
    }

  }

  &--featured {

  }

  &--secondary {
    @extend %image-base;
  }

  &--tertiary {
    margin-top: .3125em;
    @extend %image-base;
    max-width: 7em;
    float: right;
    margin-left: 1em;
  
    @include breakpoint($screen $medium-start) {
      max-width: 9em;
    }

    @include breakpoint($screen $large-start) {
      margin-top: .4375em;
    }
  }

  &--quaternary {
    margin-top: .3125em;
    @extend %image-base;
    max-width: 7.5em;
    float: right;
    margin-left: 1em;
    
    @include breakpoint($screen $large-start) {
      margin-top: .4375em;
    }
  }

}
