.nav {
  position: absolute;
  z-index: 2;
  width: 100%;
  display: none;
  clear: both;
  transition: all ease-out .3s;
  /*background: $red;*/
  background: rgba($white,0.98);
  
  @include breakpoint($screen $big-menu-start) {
    position: static;
    transition: none;
  }
    
  .js & {
    overflow: hidden;
    max-height: 0;
    @include breakpoint($screen $big-menu-start) {
      overflow: visible;
      max-height: 100%;
    }
  }
  
  &.active {
    max-height: 21em;
    @include breakpoint($screen $big-menu-start) {
      max-height: 100%;
    }
  }

  &__list {
    position: relative;
    margin: 0;
    padding: 0;
    line-height: 2.5em;
    /*border-top: 1px solid lighten($font-color, 25%);*/
  }

  &__item {
    display: block;
    border-bottom: 1px solid $lightgray;
    text-align: center;
    
    @include breakpoint($screen $big-menu-start) {
      margin-right: 1.230769231em;
      display: inline-block;
      border-bottom: none;
      text-transform: uppercase;
      letter-spacing: .1em;
      font-size: 0.8125em;
    }

    > a {
      display: block;
      color: $verydark;

        color: $font-color-lighter;
        transition-property: color;
        transition-duration: .25s; 
        transition-timing-function: ease;

        /*@include underline-reveal(2px);      */

        &:visited {
          color: $font-color-lighter;
        }
        &:hover, &:active {
          text-decoration: none;
        }
        @include red-hover;
    }

    &--search {
      margin-right: 0;
      background: $lightgray;

      @include breakpoint($screen $big-menu-start) {
        position: absolute;
        top: 0;
        right: 0;
        float: right;
        background: $white;
      }
    }
  }

  &__link {
    cursor: pointer;

    &--toggle {
      position: absolute;
      top: .5em;
      left: 1em;
      font-size: 1.5em;
      color: $gray;
      transition: color .25s ease;
      @include red-hover;

      @include breakpoint($screen $big-menu-start) {
        display: none;
      }
    }
  }

  &__home {

  }
}
