.footer {

  .ninja-forms-response-msg p {
    font-size: 1.5em;
    font-weight: 200;
    color: $white;
    opacity: .8
    
  }

  .ninja-forms-cont {
    text-align: center;
    width: 100%; 

    @include breakpoint($screen $large-start) {
      /*width: 50%;*/
      padding-right: 4em;
      border-right: 1px solid $offwhite;
      
      /*margin: 0 auto;*/
    }
  }

  .ninja-forms-form-title {
    margin-bottom: .25em;
    font-weight: 200;  
    font-size: 1.25em;
    color: $white;

    @include breakpoint($screen $large-start) {
      text-align: left;
      color: $offwhite;
    }
  }

  .ninja-forms-form {

  }

}

.signup {
  margin-bottom: .5em;
  /*padding-top: .625em;*/
  /*padding-bottom: .6875em;*/
  border: 1px solid $offwhite;

  &-wrap {
    width: 100%;
    margin-bottom: 0 !important;

    @include breakpoint($screen $medium-start) {
      width: 75%;
      float: left;
      
    }
  }

  &:focus {
    border: 1px solid $white !important;
  }

}

.signup-submit {

  position: relative;
  top: 5px;
  /*width: 100% !important;*/
  /*padding-left: 1em;*/
  /*padding-right: 1em;*/
  /*background: $red;*/
  /*border: 1px solid $offwhite;*/
  /*color: $white;*/
  

  &-wrap {

    @include breakpoint($screen $medium-start) {
      width: 25%;
      float: left;
      text-align: left;
      
    }
  }
}
