.ninja-forms-req-symbol {
  color: $gray !important;
}

.hp-wrap, .honeypot-wrap {
  display: none;
}

.recaptcha-wrap {
  position: relative;
  overflow-x: scroll;

  @include breakpoint($screen $medium-minor-start) {
    float: right;
  }

  & > label {
    position: absolute;
    left: -10px;
  }

  & .ninja-forms-field-error {
    margin-top: 16px;
  }
}



.footer {

  .ninja-forms {

    &-response-msg p {
      font-size: 1.5em;
      font-weight: 200;
      color: $white;
      opacity: .8
      
    }

    &-cont {
      text-align: center;
      width: 100%; 

      @include breakpoint($screen $large-start) {
        /*width: 50%;*/
        padding-right: 2.5em;
        border-right: 1px solid $offwhitemore;
        
        /*margin: 0 auto;*/
      }
    }

    &-form {

      &-wrap textarea,
      &-wrap input {
        @include breakpoint($screen $medium-start) {
          width: 100%;
        }

        /*@include breakpoint($screen $xlarge-start) {*/
          /*width: auto;*/
        /*}*/
      }

      &-title {
        margin-bottom: .25em;
        /*font-weight: 200;  */
        font-size: 1.25em;
        color: $white;

        @include breakpoint($screen $large-start) {
          text-align: left;
          /*color: $offwhite;*/
        }
      }

    }


  }

}

input.signup {
  height: 2.5em !important;
}

.signup {
  margin-bottom: .75em;
  /*padding-top: .625em;*/
  /*padding-bottom: .6875em;*/
  line-height: 1.4;
  border: 1px solid $offwhite;


  &-wrap {
    width: 100%;
    margin-bottom: 0 !important;

    @include breakpoint($screen $medium-start) {
      width: 70%;
      height: 2.5em;
      float: left;
      
    }
  }

  &:focus {
    border: 1px solid $white !important;
  }

}

.signup-submit {

  /*position: relative;*/
  /*top: 5px;*/
  /*width: 100% !important;*/
  /*padding-left: 1em;*/
  /*padding-right: 1em;*/
  /*background: $red;*/
  /*border: 1px solid $offwhite;*/
  /*color: $white;*/
  

  &-wrap {

    @include breakpoint($screen $medium-start) {
      width: 30%;
      float: left;
      text-align: left;
      
    }
  }
}

/*Send us a Note page*/
.page {

  .ninja-forms-error-msg {
    @extend p;
    color: $font-color-lighter;
  }

  .contact__msg-wrap .ninja-forms-field-error p {
    position: relative;
    top: -17em;
  
    @include breakpoint($screen $medium-minor-start) {
      top: -5%;
    }
  }


  .ninja-forms-field-error {
    text-align: right;
    font-size: .875em;

    & p {
      color: $red;
    }

    @include breakpoint($screen $medium-minor-start) {
      position: relative;
      top: -.75em;
      
      clear: both;
    }
  }
}


/**
 * Subscribe-page form styles
 */
.page-template-page-subscribe .subscribe__container {

  .nf-form-cont {
    margin-bottom: 10px;
  }

  .nf-form-content {
    position: relative;
  }

//  .nf-response-msg {
//    height: 63px;
//  }

  .ninja-forms-error-msg,
  .nf-error-msg.nf-error-field-errors,
  .nf-before-form-content,
  .ninja-forms-req-symbol,
  .label-above .nf-field-label {
    display: none;
  }

  .ninja-forms-field-error {
    position: absolute;
    top: auto;
    clear: both;
    bottom: -7px;
    text-align: left;
  }

  .submit-container,
  .email-container {
    display: inline-block;
    clear: none;
  }

  .email-container {
    width: 100%;

    @include breakpoint(max-width $large-start-minus-1) {
      padding-right: 112px;
    }
  }

  .email-container .nf-after-field {
    position: absolute;
  }

  .submit-container {
    position: absolute;
    right: 0;
    top: 0;

    @include breakpoint(max-width $large-start-minus-1) {
      width: 112px;
    }
  }

  @include breakpoint($large-minor-start) {
    .ninja-forms-field.email-container,
    .nf-element[type=email] {
      padding-left: 1rem;
      padding-right: 1rem;
    }
  }

  input[type=submit],
  .nf-element[type=button] {
    padding-left: 20px;
    padding-right: 20px;
    background-color: $primarycolor;
    color: $white;

    @include breakpoint($large-start) {
      padding-left: 60px;
      padding-right: 60px;
      font-size: 21px;

    }
  }

  .ninja-forms-response-msg.ninja-forms-success-msg p,
  .nf-response-msg p {
    text-align: center;
    font-weight: 200;
    font-size: 27px;
    color: $primarycolor;


    @include breakpoint($large-minor-start) {
      font-size: 2.25rem;
    }
  }

  .submit-container-wrap input[type=submit],
  .email-container-wrap input[type=text],
  .nf-field-element input {
    border-color: $primarycolor;

    @include breakpoint($large-start) {
      height: 60px;
    }
  }
}

