// NOTE
// this class works in conjunction with .fractional,
// which sets the positioning


%pq-base {
  font-family: $primaryfont;
  color: $verydark;
  display: none;

  @include breakpoint($screen $large-minor-start) {
    display: block;
  }
}

.pq {
  @extend %pq-base;
  text-align: right;
  

  &--full {
    @extend %pq-base;
    text-align: left;
    border-top: 1px solid $primarycolor;
  }

  &:after {
    @include breakpoint($screen $large-minor-start) {
      content: "";
      position: absolute;
      top: .375em;
      right: -.1875em;
      height: calc(100% - .875em);
      border-right: 1px solid $primarycolor;
    }
  }

  &__body {
    padding-right: .5em;
    margin-bottom: 0;
    font-weight: 200;
    font-style: italic;
    font-size: 1.75em;
    line-height: 1.2;
    text-align: inherit;
  }

}
