%row-base {
  @include container($gridpage);
  position: relative;
}

.row {
  @extend %row-base;
  margin-left: $out-gutter-pct;
  margin-right: $out-gutter-pct;
  text-align: center;

  @include breakpoint($screen $xlarge-start) {
    margin-left: 0;    
    margin-right: 0;    
  }
  
  &--bleed {
    @extend %row-base;
    @include bleed(0 5%);

    &-xl {
      @extend %row-base;
      /*@include bleed(0 3%);*/
      margin-left: 0;
      margin-right: 0;
      padding-left: 0;
      padding-right: 0;
    }
  }

  &--full {
    @extend .row;
    @include breakpoint($screen $xlarge-start) {
      margin-left: auto;
      margin-right: auto;
    }
  }

}
