%title-base {
  position: relative;
  /*padding-bottom: .3888888889em;*/
  margin-bottom: .5333333333em;
  padding-bottom: .2em;
  /*letter-spacing: .05em;*/
  text-align: left;
  font-weight: 600;
  /*font-size: 1.125em;*/
  font-size: 1.875em;
  border-bottom: 2px solid $primarycolor;
  /*color: $font-color-lighter;*/
  /*color: $font-color;*/
  color: $primarycolor;

  @include breakpoint($screen $large-start) {
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 1em;
    padding-bottom: .3888888889em;
    text-align: left;
    font-weight: 600;
    font-size: 1.125em;
    border-bottom: 3px solid $primarycolor;
    text-transform: uppercase;
    color: $font-color-lighter;
  }

  @include breakpoint($screen $xlarge-start) {
    width: 100%;
  }
}


.section-title {

  @extend %title-base;

  &__link {
    @include clearfix;

  }

  &--muted {
    display: none;
    float: right;
    font-weight: 400;
    font-size: .875em;
    letter-spacing: 0;
    line-height: 1.4;
    color: $font-color-lightest;
    transition: color .25s ease;

    & [class*='icon-arrow'] {
      transition: color .25s ease;
    }

    &:hover {
      color: $primarycolor;

      & [class*='icon-arrow'] {
        color: $primarycolor;
      }
    }

    /*@include red-hover;*/

    /*> a {*/
      /*color: inherit;*/
      /*font-size: inherit;*/
    /*}*/

    // style social icons
    span:not([class*='icon-arrow']) {
      margin-left: .5em;
      font-size: 1.5em;
      line-height: 0;
    }
    
    span {
      color: $font-color-lightest;
    }

    @include breakpoint($screen $large-start) {
      display: inline-block;
      /*border-bottom: 3px solid $primarycolor;*/
    }

  }


//  &__border {
//    /*position: absolute;*/
//    /*left: 0;*/
//    /*top: 1.375em;*/
//    /*content: '';*/
//    /*width: 100%;*/
//    display: block;
//    border: 0;
//    height: 0;
//    border-bottom: 3px solid $primarycolor;
//  }
}
