%title-base {
  position: relative;
  margin-bottom: .5333333333em;
  padding-bottom: .2em;
  text-align: left;
  font-weight: 600;
  font-size: 1.875em;
  border-bottom: 2px solid $primarycolor;
  color: $primarycolor;

  @include breakpoint($screen $large-start) {
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 1em;
    padding-bottom: .3888888889em;
    text-align: left;
    font-weight: 600;
    font-size: 1.125em;
    border-bottom: 3px solid $primarycolor;
    text-transform: uppercase;
    color: $font-color-lighter;
  }

  @include breakpoint($screen $xlarge-start) {
    width: 100%;
  }
}


.section-title {
  @extend %title-base;

  &__link {
    @include clearfix;
  }

  &--muted {
    float: right;
    font-weight: 400;
    font-size: .875rem;
    letter-spacing: 0;
    line-height: 2.9;
    color: $font-color-lightest;
    transition: color .25s ease;

    & [class*='icon-arrow'] {
      transition: color .25s ease;
    }

    &:hover {
      color: $primarycolor;

      & [class*='icon-arrow'] {
        color: $primarycolor;
      }
    }

    // style social icons
    span:not([class*='icon-arrow']) {
      margin-left: .5em;
      font-size: 1.5em;
      line-height: 0;
    }
    
    span {
      color: $font-color-lightest;
    }

    @include breakpoint($screen $large-start) {
      display: inline-block;
      line-height: 1.3;
    }
  }

  &--archive {
    // in _section-title-hat.scss
    @extend %section-title-hat-base;
    line-height: 1.2;
    text-align: left;
  }
}
