%input-base {
  display: inline-block;
  top: .25em;
  background: $white url('img/svg/glass.svg') 10px 50% no-repeat;
  background-size: 18px 18px;
  position: relative;
  margin-top: -.0625em;
  padding-left: 2.25em;
  padding-right: 0;
  line-height: 1.7;
  border: 0;
  outline: none;
  cursor: text;
}

.site-search {
  position: relative;

  &__form {
    width: 100%;
    /*padding-top: .3125em;*/
    padding-top: .3125em;
    outline: none;

    @include breakpoint($screen $big-menu-start) {
      padding-top: 0;
    }
  }

  &__term {
    font-weight: 400;
  }

  &__label {

  }

  &__results {
    margin-top: 0;
    padding: 1em;
    background: $extralightgray;
    text-align: left;
  }

  &__submit {
    height: 2.6875em;
    width: 100%;
    padding: .5em;
    background: #ef3f23;
    border: none;
    color: #fff;
  }

  &__button {
    border: none;
    background: $lightgray;

    &--hide {
      display: none;
    }
  }

  &__input {

    @extend %input-base;
    height: 1.0625em;
    width: 80%;
    margin-bottom: .6875em;

    &:-ms-input-placeholder {
      color: transparent;
    }


    @include breakpoint($screen $big-menu-start) {
      width: 0;
      font-size: 1.230769231em;

      &:focus {
        /*margin-top: 0;*/
        width: 10em;
        outline: none;
        cursor: text;
        background-position: 3px 50%;
      

        &[type=text] {
          /*padding: .5em 0 .5em 2em;*/
        }
      }
    }

    &--onpage {
      @extend %input-base;
      box-sizing: border-box !important;
      width: 100%;
      margin-bottom: 1em;
    }
  } 
}
