.site-search {
  position: relative;

  &__form {
    width: 100%;
    /*padding-top: .3125em;*/
    padding-top: .3125em;
    outline: none;

    @include breakpoint($screen $big-menu-start) {
      padding-top: 0;
    }
  }

  &__label {

  }

  &__submit {

  }

  &__button {
    border: none;
    background: $lightgray;

    &--hide {
      display: none;
    }
  }

  &__input {
    display: inline-block;
    top: .25em;
    background: $white url('img/svg/glass.svg') 10px 50% no-repeat;
    background-size: 18px 18px;
    height: 1.0625em;
    width: 80%;
    position: relative;
    margin-top: -.0625em;
    margin-bottom: .6875em;
    padding-left: 2.25em;
    padding-right: 0;
    line-height: 1.7;
    border: 0;
    outline: none;
    cursor: text;

    &:-ms-input-placeholder {
      color: transparent;
    }


    @include breakpoint($screen $big-menu-start) {
      width: 0;
      font-size: 1.230769231em;

      &:focus {
        /*margin-top: 0;*/
        width: 10em;
        outline: none;
        cursor: text;
        background-position: 3px 50%;
      

        &[type=text] {
          /*padding: .5em 0 .5em 2em;*/
        }
      }
    }

  } 
}
