.banner {
  @include container($gridpage);
  position: relative;
  margin-bottom: 1em;
  box-shadow: 0 5px 10px 0 rgba(0,0,0,0.15),0 -5px 3px 10px #fff;

  @include breakpoint($screen $big-menu-start $xlarge-start-minus-1) {
    margin-left: 1em;
    margin-right: 1em;
  }
  
  
  @include breakpoint($screen $big-menu-start) {
    margin-top: 1em;
    box-shadow: none;
    margin-bottom: 1em;
  }
}

.site-branding {
  height: 3em;
  background-color: $white;
  text-align: center;

  @include breakpoint($screen $big-menu-start) {
    padding-bottom: 4em;
    border-bottom: 1px solid $lightgray;
    text-align: left;
    background-color: $white;
  }

  &__link {
    color: $primarycolor;
    font-size: 2em;

    &:hover, &:active, &:focus {
      text-decoration: none;
    }
  
    @include breakpoint($screen $big-menu-start) {
      color: $primarycolor;
      font-size: 4.5em;
    }

//    &:after {
//      content: "The DO";
//      line-height: .5;
//      display: block;
//      font-weight: bold;
//      font-size: 1em;
//    }
  }

  &--alpha {
    position: relative;
    top: 1em;
    letter-spacing: -1px;
    font-weight: bold;
    line-height: .5;
    

    @include breakpoint($screen $big-menu-start) {
      letter-spacing: -3px;
    }
  }

  &--beta {
    position: relative;
    top: -1em;
    display: none;
  
    > a {
      color: $mediumgray;
      transition: color .25ms ease;

      &:hover, &:active {
        color: $aoatrue;
        text-decoration: none;

      }
    }

    @include breakpoint($screen $big-menu-start) {
      float: right;
      top: -1.3em;
      display: block;

      span {
        font-size: 1.875em;
      }
    }
  }
}
