.spotlight {
  position: relative;
  @include clearfix;

  @include breakpoint($screen $xlarge-start) {
    margin-bottom: 2em;
    
  }

  &__feature-wrapper {
    @include clearfix;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;
    max-width: 40.9375em;

    @include breakpoint($screen $large-minor-start) {
      margin-left: 0;
      margin-bottom: .4375em;
      margin-right: 0;
      /*max-width: 65%;*/
      /*max-width: (span(8 of $gridpage) - gutter($gridpage));*/
      max-width: span(8 of $gridpage);
    }
  }

  &__body {
    margin-left: auto;
    margin-right: auto;

    @include breakpoint($screen $large-start) {
      max-width: 85%;
    }

    @include breakpoint($screen $large-minor-start) {
      /*padding: 1em;*/
      position: absolute;
      bottom: .0625em;
      right: 0;
      /*width: 33%;*/
      width: span(4 of $gridpage);
      text-align: left;
      /*background: $extralightgray;*/
    }

    & p {
      @extend .f-item__body-text--minor;
      text-align: left;

      &:not(:last-child) {
        margin-bottom: 1em;
      }
      
      &--source {
        font-size: .875em;
        line-height: 1.4;
        color: $font-color-lighter;
        margin-bottom: 0;
      }
    }
  }

  &__kicker {
    @extend %kicker-base;
  }

  &__date {
    @extend %date-base;
  }

  &__head {
    @extend .f-item__head--major;
    line-height: 1.33;

    > a {
      color: inherit;
      transition: color .25s ease;
      @include red-hover;

    }
  }


  &__note {
    white-space: nowrap;
  }

  &__link {
    color: $font-color;
    font-weight: 600;
      &:hover {
        transition: color .25s ease;
        @include red-hover;
      }
    }

}
