.story-meta {
  position: relative;
  padding-top: .4em;
  padding-bottom: .4em;
  border-top: 1px solid $lightgray;
  border-bottom: 1px solid $lightgray;
  font-size: .9em;
  letter-spacing: .05em;
  color: $verydark;

  @include breakpoint($screen $large-start) {
    font-size: 1em;
  }

  &__link {
    color: inherit;
    transition-property: color;
    transition-duration: $mediumduration;
    @include red-hover;
  }

  &__by {
    font-style: italic;
    font-weight: 400;
    vertical-align: top;
    line-height: 1.3;
  }

  &__author {
    display: inline-block;
    max-width: 77%;
    text-transform: uppercase;
    line-height: 1.3;
    font-weight: 700;
  }

  &__date {
    position: relative;
    display: block;
    /*left: 60%;*/
    /*width: 40%;*/
    margin-top: .5em;
    /*float: right;*/
    letter-spacing: .05em;
    font-size: 0.875em;
    text-align: left;
    line-height: 1;
    color: $gray;
    text-transform: uppercase;
  }

  &__comment-link {
    position: relative;
  }
}

