%dropcap {
  > p:first-of-type:first-letter {
    height: .7em;
    margin: .13em 0 -.05em 0;
    padding: 0 .1em 0 0;
    font-size: 3em;
    line-height: .7em;
    float: left;
    color: $primarycolor;

    @include breakpoint($screen $large-start) {
      font-size: 3.5em;
    }
  }
}

%story-base {
  @extend %article-base;
}

%story-body-text-base {
  margin-top: 1em;

  > h2 {
    margin-bottom: 0;
    font-family: $primaryfont;
    font-size: 1.1875em;
    line-height: $bodylineheight;
    font-weight: 600;
    color: $primarycolor;
    
    @include breakpoint($screen $large-start) {
      line-height: $bodylineheight-bigger;
    }
  }

  > h4 {
    margin-top: 0;
    margin-bottom: 0;
    font-family: $primaryfont;
    font-size: 1em;
    line-height: $bodylineheight;
    font-weight: 400;
    color: $font-color-lighter;
    
    @include breakpoint($screen $large-start) {
      line-height: $bodylineheight-bigger;
      font-size: $font-size-base;
    }

  }
}

.story {
  @extend %story-base;

  @include breakpoint($screen $large-minor-start) {
    width: 100%;
  }

  &--full-width {
    @extend %story-base;
    
    @include breakpoint($screen $leaderboard-start) {
      margin-left: 1em;
      margin-right: 1em;
      max-width: 992px;
      width: auto;
    }

    @include breakpoint($screen $max-site-start) {
    }
  }
  

  &__social {
    &--shiftable {

    }

    &--bottom {

    }
  }

  &--page__body-text {
    @extend %story-body-text-base;
  }

  &__body-text {
    @extend %story-body-text-base;

    @extend %dropcap;

    @include breakpoint($screen $large-minor-start) {
      @include span(last 7 of 8);
    }

    &--full-width {
      @extend %story-body-text-base;
      @extend %dropcap;      
    }
  }

  &__box {
    @include clearfix();
    margin-bottom: 1em;

    @include breakpoint($screen $medium-minor-start) {
      margin-left: 1.5em;
      width: 11.875em;
      float: right;
    }
  }

  li {
    @extend p;
  }
}
